@charset "utf-8";
/* CSS Document */
p {
	color: mediumpurple;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: purple;
}

span {color: rgba(81,23,106,1.00);}
body{
	background-image: url("SLIKE/pozadina.jpg")
}
a:link {
  color: black;
  background-color: white;
  padding: 5px;
  line-height: 40px;
  border: 1px solid #000000;
}

a:hover {
  background-color: darkgray;
}
img {
	height: 700px;
	}



